* {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica';
}
html, body, canvas {
    margin: 0;
    padding: 0;
}
html, body {
    touch-action: manipulation;
    background-color: #c9f2ff;
    height: 100%;
    position: relative;
}
canvas {
    position: absolute;
    bottom: 0;
    border-top: 4px solid black;
}
#bg {
    z-index: 0;
}
#left, #right {
    z-index: 1;
}
#right {
    margin-left: 60%;
}
h2, p, .dropdown, .LR {
    padding: 0;
    margin: 0 0 3px 3px;
}
