* {
    margin: 0;
    padding: 0;
    font-family: "Courier New";
}
html, body {
    touch-action: manipulation;
    background-color: #c9f2ff;
    height: 100%;
    position: relative;
}
canvas {
    position: absolute;
    bottom: 0;
    border-top: 4px solid black;
}
#bg {
    z-index: 0;
}
#left, #right {
    z-index: 1;
}
#right {
    margin-left: 60%;
}
